.inputWrapper {
    display: flex;
    justify-content: center;
}

.input {
    max-width: 70px;
    background: transparent;
    border: 1px solid #29CC9B;
    outline: none;
    text-align: center;
    color: #1f1f20;
    font-size: 16px;
}
.span {
    cursor: pointer;
    position: relative;
}

.span::before {
    position: absolute;
    content: '';
    right: -18px;
    top: -7px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/Edit.svg'); /* Replace with the URL or path of your icon image */
    background-size: cover;
    display: none;
}

.span:hover::before {
    display: inline-block;
}
.button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    border: 1px solid #EBEDED;
    margin: 0 2px;
}
.icon {
    width: 18px;
    height: 18px;
}
