.inputWrapper {
    display: flex;
    justify-content: center;
}

.input {
    width: 100%;
    background: transparent;
    border: 1px solid #29CC9B;
    outline: none;
    text-align: center;
    color: #1f1f20;
    font-size: 16px;

    @media (max-width: 365px) {
        font-size: 12px;
    }
}
.span {
    cursor: pointer;
    position: relative;
}

.span::before {
    position: absolute;
    content: '';
    right: -18px;
    top: -7px;
    width: 20px;
    height: 20px;
    background-image: url('../../assets/icons/Edit.svg'); /* Replace with the URL or path of your icon image */
    background-size: cover;
    display: none;
}

.span:hover::before {
    display: inline-block;
}

.buttonWrapper {
    display: flex;
    @media (max-width: 576px) {
        flex-direction: column;
    }
}

.button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    border: 1px solid #EBEDED;
    margin: 0 2px;

    @media (max-width: 365px) {
        width: 15px;
        height: 15px;
    }
}
.icon {
    width: 18px;
    height: 18px;

    @media (max-width: 365px) {
        width: 13px;
        height: 13px;
    }
}
