.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #F8F8F8;
    height: var(--header-height);
    border-bottom: 1px solid #EBEDED;

    @media (max-width: 576px) {
        height: 60px;
    }
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    @media (max-width: 576px) {
        gap: 10px;
    }
}

.title {
    @media (max-width: 576px) {
        font-size: 18px;
    }
}

.logo {
    width: 40px;
    height: 40px;
    cursor: pointer;

    @media (max-width: 576px) {
        width: 30px;
        height: 30px;
    }
}
