.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: #F8F8F8;
    height: var(--header-height);

    border-bottom: 1px solid #EBEDED;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 40px;
    height: 40px;
    cursor: pointer;
}
