.header {
    display: flex;
    align-items: center;
    justify-content: center;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: seashell;
    height: var(--header-height);

    border-bottom: 1px solid black;
}
