.footer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    padding-right: 30px;

    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #F8F8F8;
    height: var(--footer-height);

    border-top: 1px solid #EBEDED;

    @media (max-width: 576px) {
        height: 70px;
        align-items: center;
        padding: 10px 0 0;
    }
}

.footerWrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footerTitle {
    font-size: 14px;
}

.cardsWrapper {
    padding-top: 8px;
    display: flex;
    gap: 4px;
    @media (max-width: 576px) {
        padding-top: 4px;
    }
}

.card {
    @media (max-width: 576px) {
        height: 28px;
        width: 32px;
    }
}
