.tableWrapper {
    padding: 25px;
    background-color: var(--gray-dark);
}

.table {
    background-color: var(--gray-extradark);
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    font-family: Roboto, Arial, sans-serif;
}

.head {
    color: var(--white-half-transparent);
}

th {
    padding: 20px;
}

td {
    background-color: var(--gray-light);
    color: var(--text);
    padding: 20px;
}
