.wrapper {
    display: flex;
    align-items: center;
    padding: 20px 0;
    @media (max-width: 576px) {
        flex-direction: column;
        padding: 10px 0;
    }
}

.swapIcon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 14px;
    transform: rotate(90deg);

    @media (max-width: 576px) {
        margin: 8px 0 -5px;
        transform: rotate(0deg);
    }
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input {
    outline: none;
    width: 85px;
    height: 34px;
    padding: 0 8px;
    border: none;
    border-radius: 9px;
    background: #FFF;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    @media (max-width: 576px) {
        width: 130px;
    }
}

.input::-webkit-inner-spin-button,
.input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.currencyOption {
    padding: 0 8px;
    background: #FFF;
    border-radius: 9px;
    border: 1px solid  #29CC9B;
}

.select {

    border-radius: 9px;
    outline: none;
    height: 34px;
    padding: 0 8px;
    border: none;
}
